name: Run Omega Analyzer (Rebuild Image)

on:
  workflow_dispatch:
    inputs:
      user:
        description: 'GitHub username'
        required: true

      repository:
        description: 'Github repository name'
        required: true

jobs:
  analyze:
    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          repository: ${{ inputs.user }}/${{ inputs.repository }}
          path: target

      - name: Checkout Omega Analyzer
        uses: actions/checkout@v4
        with:
          repository: purs3lab/alpha-omega
          path: alpha-omega
          ref: workflow
          sparse-checkout: |
            omega/analyzer

      - name: Build container
        run: |
          cd ./alpha-omega/omega/analyzer
          ./build.sh

      - name: Run analyzer
        run: |
          docker run --rm -v ./results:/opt/export/github/target/0 -v ./target:/opt/local_source/target openssf/omega-toolshed:latest

      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: results
          path: ./results

